@page "/"
@inherits BaseComponent

<PageTitle>Нейроаватар</PageTitle>

<header class="head">
    <img class="logo" src="media/logo.png" alt="">
    <img class="user" src="media/user.png" alt="">
</header>
<main>
    <h1>Твой цифровой аватар</h1>
    <p class="creat">креативный компаньон на базе искуственного интеллекта</p>
    <a href="voice">
        <div class="sintez">
            <h3 class="card-title">синтезатор речи</h3>
        </div>
    </a>
    <a href="avatar">
        <div class="neuro">
            <h3 class="card-title">нейроаватар</h3>
        </div>
    </a>
    <a href="library">
        <div class="galery">
            <h5 class="card-titleBig">галерея</h5>
        </div>
    </a>
    <div class="card-container">
        <div class="card prem">
            <div class="card-inner">
                <div class="card-front">
                    <h5 class="card-titleBig">Премиум подписка</h5>
                </div>
                <div class="card-back">
                    <p>Бесплатная версия</p>
                    <ul>
                        <li>До 5 минут нейроаватар</li>
                        <li>5 минут звуковая дорожка</li>
                        <li>Локальное хранение данных</li>
                    </ul>
                    <p>Премиум</p>
                    <ul>
                        <li>До 15 минут нейроаватар</li>
                        <li>До 30 минут звуковая дорожка</li>
                        <li>Облачное хранение данных</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

